# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/*
!ios/*.xcodeproj/project.pbxproj
!ios/*.xcodeproj/xcshareddata/
!ios/*.xcworkspace/contents.xcworkspacedata

# Android
android/app/build/
android/build/
android/local.properties
android/.gradle/
android/*.iml
android/.idea/
android/.settings/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.idea
.vscode/

# macOS
.DS_Store
*.pem

# Environment files
.env
.env*.local
.env.development
.env.test
.env.production

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Temporary files
*.swp
*.swo
*.log
*.tmp

# Build
build/
dist/
app-example/
